.edit-type-form button {
  margin: 0 8px;
}

.edit-type-form form {
  width: 100%;
}

.type-documents-filters {
  align-items: center;
  margin: 0 0 20px 0;
  gap: 8px;
  flex-wrap: nowrap;
}

.type-documents-filters > div {
  width: 300px;
}
